@using CgTest.CategorySupport
@using CgTest.ProductSupport
@using CgTest.RoutingSupport

@model Category

<h1>@Model.Name (<a href="/Admin">Edit</a>)</h1>

<p>Produkter:</p>

<ul>
    @foreach (var product in ProductRepository.GetAll().Where(p => p.CategoryId == Model.Id))
    {
        <li><a href="@UrlProvider.GetUrl(product)">@product.Name</a></li>
    }
</ul>